* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: rgb(30, 30, 46);
  color: #fff;

}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}